@inherits LayoutComponentBase

<div class="page">

    <main>
        <NavMenu />
        <section class="app-shell">
            <article class="content app-content">
                @Body
            </article>
        </section>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
