@inject NavigationManager _navigationManager
@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="nav-shell">
        <a class="navbar-brand" href="/home">
            <img src="images/labworksLogo.png" alt="HealthMe Logo" width="34" height="34" />
            <span>HealthMe Labworks</span>
        </a>

        <ul class="navbar-nav app-links">
            <li class="nav-item">
                <NavLink class="nav-link" aria-current="page" href="/home">Dashboard</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" aria-current="page" href="/patients">Patients</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" aria-current="page" href="/inventory">Inventory</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" aria-current="page" href="/finance">Finance</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" aria-current="page" href="/tests">Test Overview</NavLink>
            </li>
        </ul>
        <AuthorizeView>
            <Authorized>
                <p class="user-name">Welcome, @context.User.Identity.Name!</p>
                <button type="button" id="components-logout-button" class="btn btn-outline-danger" @onclick="logoutFunc">Logout</button>
            </Authorized>
            <NotAuthorized>
                <p class="user-name">Welcome, Guest!</p>
            </NotAuthorized>
        </AuthorizeView>
        
    </div>
</nav>

@code {

    private void logoutFunc()
    {
        _navigationManager.NavigateTo("/");
    }

}
