
button {
    text-align: left;
}

.dashboardTopParentContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

.moduleContainer {
    height: 20vh;
    width: 45vh;
    background-color: #FFFFFF;
    stroke: #6B6B6B;
    stroke-width: 1px;
    border-radius: 30px;
    text-align: left;
    padding: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 35vh 20vh;
}

#mainWidgetTitle {
    size: 18px;
    color: #6B6B6B;
}

/*Patient Widget*/

.patientImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2E3FF;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/*Inventory Widget*/


.inventoryImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0FFD4;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/*Tests Widget*/


.testsImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcd1ff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/*Low Stocks Widget*/

.lowStocksImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fab3ad;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.quickActionParentContainer {
    height: 25vh;
    width: 40vh;
    background-color: #FFFFFF;
    stroke: #6B6B6B;
    stroke-width: 1px;
    border-radius: 30px;
    text-align: left;
    align-content: left;
    padding: 20px;
    margin-top: 20px;

}
#lowquickActionTitle {
    size: 18px;
    color: #6B6B6B;
}

.quickActionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
