@page "/"
@using Microsoft.VisualBasic
@layout mgpSystem.Components.Layout.LoginLayout
@inject NavigationManager _navigationManager
@rendermode InteractiveServer 

@*never forget to put in interactive pages*@

<PageTitle>Login</PageTitle>

<div class="loginParentCard">
    <div class="imageContainer">
        <img src="images/LabworksLogo.png" alt="HealthMe Logo" />
    </div>

    <h1>HealthMe Labworks</h1>
    <h2>Sign in to continue</h2>
    <p class="statusMessage">@statusMessage</p>

    <div class="inputGroup">
        <label for="username">Username</label>
        <input id="username" type="text" placeholder="Username" @bind="username" />

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password" @bind="password" />

        <button type="button" class="loginButton" @onclick='checkCredentials'>Login</button>
    </div>
</div>

@code {
    public string statusMessage { get; set; } = string.Empty;
    private string username { get; set; } = string.Empty;
    private string password { get; set; } = string.Empty;
    private void checkCredentials()
    {
        if (this.username == "admin" && this.password == "password")
        {
            statusMessage = "Login successful!";
            _navigationManager.NavigateTo("/home");
        }
        else
        {
            statusMessage = "Invalid username or password.";
        }
    }

    

}