@page "/"
@layout mgpSystem.Components.Layout.LoginLayout
@inject NavigationManager _navigationManager
@rendermode InteractiveServer 

@*never forget to put in interactive pages*@

<PageTitle>Login</PageTitle>

<style>
    body {
        background-color: #E6F8FF;
    }
</style>

    <div class="loginParentCard">
        <div class="imageContainer">
            <img src="images/LabworksLogo.png" alt="HealthMe Logo"/>
        </div>
        
            <h1>HealthMe Labworks</h1>
            <h1>Login</h1>
            <br/>
            <div class="inputGroup">
                <label for="username">Username</label>
                <input type="text" placeholder="Username"/>
                <label for="password">Password</label>
                <input type="password" placeholder="Password"/>
                <button type="button" class="loginButton" @onclick='NavigateToHome'>Login</button> @*Do not forget to modify this! -Ceankaye *@
            </div>
    </div>

@code {
    
    private void NavigateToHome()
    {
        _navigationManager.NavigateTo("/home");
    }


}